<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reactive Book Tracker</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/semantic.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  </head>
  <body>
    <div id="main"></div>
    </script>
  </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script src="./javascripts/backbone/book.js"></script>
    <script src="./javascripts/backbone/books.js"></script>
    <script src="./javascripts/main.js"></script>
</html>